<div class="container">
  <form [formGroup]="formGroup">
    <h1>Todo</h1>
    <input class="input-for-word" type="text"  name="value" formControlName="value" (keyup.enter)="add()">
    <div class="block-with-radio">
      <label>
        <input type="radio" (click)="showAllItem()" name="show-item"> Show All
      </label>
      <label>
        <input type="radio" (click)="showDoneItem()" name="show-item"> Done
      </label>
      <label>
        <input type="radio" (click)="showNotDoneItem()" name="show-item"> Not Done
      </label>
    </div>
  </form>
  <div class="todo-list-container">
    <div *ngFor="let todo of (todos$ | async), let indexOfEl = index" class="todo-list">
      <input type="checkbox" (click)="check(todo.id)">
      <div class="todo-list-id">
        {{indexOfEl+1}}
      </div>
      <div class="todo-list-value" [ngClass]="{'todo-complete': todo.check}">
        : {{todo.value}}
      </div>
      <button (click)="remove(todo.id)">x</button>
    </div>
  </div>
</div>
